/**
* Gray scales
*/
$grey1: #ebebf0;
$grey2: #c3c3c8;
$grey3: #96969b;
$grey4: #707075;
$grey5: #505055;
$grey6: #323237;
$grey7: #111111;

/**
* Base colors 
*/
$white: #ffffff;
$yellow: rgb(251, 204, 38);
$turqoise: #008a99;

/**
* Component colors 
*/
$app-background: $grey1;
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.23);
