/**
* Gray scales
*/
$grey1: #ebebf0;
$grey2: #c3c3c8;
$grey3: #96969b;
$grey4: #707075;
$grey5: #505055;
$grey6: #323237;
$grey7: #111111;

/**
* Base colors 
*/
$white: #ffffff;
$offorange: #ff6b33;
$orange: #ff4600;
$turqoise: #008a99;

/**
* Component colors 
*/
$app-background: $grey1;
$page-side-shadow: 0 -150px 30px rgba(0, 0, 0, 0.1);
