@mixin breakpoint($min, $max: null) {
	@if $max {
		@media only screen and (min-width: $min) and (max-width: $max) {
			@content;
		}
	} @else {
		@media only screen and (min-width: $min) {
			@content;
		}
	}
}

@mixin center-absolute() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin button($backgroundColor, $textColor, $borderColor) {
	outline: none;
	padding: $base-margin $five-base-margin;
	border-radius: $five-base-margin;
	background: $backgroundColor;
	border: 0.1rem solid $borderColor;
	color: $textColor;
	transition: background 0.2s ease;
	cursor: pointer;

	&:hover {
		background: darken($backgroundColor, 10%);
	}

	&:active {
		background: darken($backgroundColor, 15%);
	}
}

@mixin primaryButton() {
	@include button($yellow, $grey6, $yellow);
}
