// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

// Base margin
$base-margin: 1rem;
$half-base-margin: $base-margin / 2;
$two-base-margin: $base-margin * 2;
$three-base-margin: $base-margin * 3;
$four-base-margin: $base-margin * 4;
$five-base-margin: $base-margin * 5;

// z-index
$z-index-one: 1;
$z-index-two: 10;

// Font sizes
$font-size-small: 1.4rem;
$font-size-medium: 1.6rem;
