// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

// Base margin
$base-margin: 1rem;
$half-base-margin: $base-margin / 2;
$two-base-margin: $base-margin * 2;
$three-base-margin: $base-margin * 3;
$four-base-margin: $base-margin * 4;
$five-base-margin: $base-margin * 5;
$six-base-margin: $base-margin * 6;
$seven-base-margin: $base-margin * 7;
$eight-base-margin: $base-margin * 8;
$nine-base-margin: $base-margin * 9;
$ten-base-margin: $base-margin * 10;
$eleven-base-margin: $base-margin * 11;
$twelve-base-margin: $base-margin * 12;

// z-index
$z-index-negative: -1;
$z-index-one: 1;
$z-index-two: 10;
$z-index-three: 50;
$z-index-four: 100;
$z-index-five: 200;
$z-index-six: 500;
$z-index-seven: 999;

// Component sizes
$page-max-width: 2000px;
$header-height: 70px;

// Font sizes
$font-size-small: 1.4rem;
$font-size-medium: 1.6rem;
$font-size-large: 2rem;
