@import '~styles/variables';
@import '~styles/colors';

.container {
	background: $white;
	font-size: $font-size-small;
	padding: $half-base-margin;
	box-shadow: $box-shadow;
}

.text {
	font-size: $font-size-small;
	margin: $half-base-margin 0;
}
