@import '~styles/variables';
@import '~styles/colors';

.container {
	z-index: $z-index-one;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: $grey1;
}
